<% if notice != nil %>
<p id="notice" class="round"><%= notice %></p>
<% end %>
<div class="header transparent">
  <h1><%= @stack.name %></h1>
  <%= link_to 'Add Card', new_card_path %> |
  <%= link_to 'Back to Desk', stacks_path %>
</div>
<div class="content">
  <div id="cards">
      <%= render(@stack.cards) || 'No cards in this stack!' %>
  </div>
  <div id="definition" class="transparent round">
    <div id="card_definition">
        <h3>No card selected<h3>
    </div>
  </div>
</div>