<% if notice != nil %>
<p id="notice" class="round"><%= notice %></p>
<% end %>
<div class="header transparent">
  <h1><%= @stack.name %></h1>
  <%= link_to 'Add Card', new_card_path %> |
  <%= link_to 'Back to Desk', stacks_path %>
</div>
<div class="content">
  <div id="card_container">
  <div id="cards">
      <% if @stack.cards.count > 0 %>
        <%= render(@stack.cards) %>
      <% else %>
        <div class="pad">No cards in this stack!</div>
      <% end %>
  </div>
  <div id="definition" class="transparent round">
  </div>
  </div>
</div>