<div class="header transparent">
  <h1>My Cards</h1>
  <%= link_to 'Back to Desk', stacks_path %>
</div>
<div class="content">
<% @cards.each do |card| %>
    <div class="card single">
        <a class="stack_name" href='../cards/<%= card.id %>'><span><%= card.item %></span></a>
        <a class="stack_button edit" href='../cards/<%= card.id %>/edit'><img src="../assets/edit.png" alt="Edit" /></a>
        <a class="stack_button delete" href='../cards/<%= card.id %>' data-confirm='Deleting <%= card.item %> card, are you sure?' data-method="delete" rel="nofollow"><img src="../assets/delete.png" alt="Delete"/></a>
    </div>
<% end %>
</div>

