<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @card.item %>
</p>

<p>
  <b>Definition:</b>
  <%= @card.definition %>
</p>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back to Stack', @stack %>
